/*!
 * jQuery UI CSS Framework 1.12.1
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/category/theming/
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Arial%2CHelvetica%2Csans-serif&fsDefault=1em&fwDefault=normal&cornerRadius=3px&bgColorHeader=e9e9e9&bgTextureHeader=flat&borderColorHeader=dddddd&fcHeader=333333&iconColorHeader=444444&bgColorContent=ffffff&bgTextureContent=flat&borderColorContent=dddddd&fcContent=333333&iconColorContent=444444&bgColorDefault=f6f6f6&bgTextureDefault=flat&borderColorDefault=c5c5c5&fcDefault=454545&iconColorDefault=777777&bgColorHover=ededed&bgTextureHover=flat&borderColorHover=cccccc&fcHover=2b2b2b&iconColorHover=555555&bgColorActive=007fff&bgTextureActive=flat&borderColorActive=003eff&fcActive=ffffff&iconColorActive=ffffff&bgColorHighlight=fffa90&bgTextureHighlight=flat&borderColorHighlight=dad55e&fcHighlight=777620&iconColorHighlight=777620&bgColorError=fddfdf&bgTextureError=flat&borderColorError=f1a899&fcError=5f3f3f&iconColorError=cc0000&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=666666&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=5px&offsetTopShadow=0px&offsetLeftShadow=0px&cornerRadiusShadow=8px
 */


/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}
.ui-widget.ui-widget-content {
	border: 1px solid #c5c5c5;
}
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #333333;
}
.ui-widget-content a {
	color: #333333;
}
.ui-widget-header {
	border: 1px solid #dddddd;
	background: #e9e9e9;
	color: #333333;
	font-weight: bold;
}
.ui-widget-header a {
	color: #333333;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,

/* We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered */
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: 1px solid #c5c5c5;
	background: #f6f6f6;
	font-weight: normal;
	color: #454545;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
	color: #454545;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: 1px solid #cccccc;
	background: #ededed;
	font-weight: normal;
	color: #2b2b2b;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
	color: #2b2b2b;
	text-decoration: none;
}

.ui-visual-focus {
	box-shadow: 0 0 3px 1px rgb(94, 158, 214);
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #003eff;
	background: #007fff;
	font-weight: normal;
	color: #ffffff;
}
.ui-icon-background,
.ui-state-active .ui-icon-background {
	border: #003eff;
	background-color: #ffffff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #ffffff;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #dad55e;
	background: #fffa90;
	color: #777620;
}
.ui-state-checked {
	border: 1px solid #dad55e;
	background: #fffa90;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #777620;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #f1a899;
	background: #fddfdf;
	color: #5f3f3f;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #5f3f3f;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #5f3f3f;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70); /* support: IE8 */
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35); /* support: IE8 */
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* support: IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* SVG Icons */
.ui-icon {
  width: 16px;
  height: 16px;
  background-size: contain;
}
.ui-icon-home,
.ui-widget-content .ui-icon-home,
.ui-widget-header .ui-icon-home {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M16 9.5l-3-3v-4.5h-2v2.5l-3-3-8 8v0.5h2v5h5v-3h2v3h5v-5h2z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-home,
.ui-state-focus .ui-icon-home,
.ui-button:hover .ui-icon-home,
.ui-button:focus .ui-icon-home {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M16 9.5l-3-3v-4.5h-2v2.5l-3-3-8 8v0.5h2v5h5v-3h2v3h5v-5h2z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-home,
.ui-button:active .ui-icon-home {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M16 9.5l-3-3v-4.5h-2v2.5l-3-3-8 8v0.5h2v5h5v-3h2v3h5v-5h2z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-home {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M16 9.5l-3-3v-4.5h-2v2.5l-3-3-8 8v0.5h2v5h5v-3h2v3h5v-5h2z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-person,
.ui-widget-content .ui-icon-person,
.ui-widget-header .ui-icon-person {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M9 11.041v-0.825c1.102-0.621 2-2.168 2-3.716 0-2.485 0-4.5-3-4.5s-3 2.015-3 4.5c0 1.548 0.898 3.095 2 3.716v0.825c-3.392 0.277-6 1.944-6 3.959h14c0-2.015-2.608-3.682-6-3.959z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-person,
.ui-state-focus .ui-icon-person,
.ui-button:hover .ui-icon-person,
.ui-button:focus .ui-icon-person {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M9 11.041v-0.825c1.102-0.621 2-2.168 2-3.716 0-2.485 0-4.5-3-4.5s-3 2.015-3 4.5c0 1.548 0.898 3.095 2 3.716v0.825c-3.392 0.277-6 1.944-6 3.959h14c0-2.015-2.608-3.682-6-3.959z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-person,
.ui-button:active .ui-icon-person {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M9 11.041v-0.825c1.102-0.621 2-2.168 2-3.716 0-2.485 0-4.5-3-4.5s-3 2.015-3 4.5c0 1.548 0.898 3.095 2 3.716v0.825c-3.392 0.277-6 1.944-6 3.959h14c0-2.015-2.608-3.682-6-3.959z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-person {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M9 11.041v-0.825c1.102-0.621 2-2.168 2-3.716 0-2.485 0-4.5-3-4.5s-3 2.015-3 4.5c0 1.548 0.898 3.095 2 3.716v0.825c-3.392 0.277-6 1.944-6 3.959h14c0-2.015-2.608-3.682-6-3.959z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-comment,
.ui-widget-content .ui-icon-comment,
.ui-widget-header .ui-icon-comment {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M8 1c4.418 0 8 2.91 8 6.5s-3.582 6.5-8 6.5c-0.424 0-0.841-0.027-1.247-0.079-1.718 1.718-3.77 2.027-5.753 2.072v-0.421c1.071-0.525 2-1.48 2-2.572 0-0.152-0.012-0.302-0.034-0.448-1.809-1.192-2.966-3.012-2.966-5.052 0-3.59 3.582-6.5 8-6.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-comment,
.ui-state-focus .ui-icon-comment,
.ui-button:hover .ui-icon-comment,
.ui-button:focus .ui-icon-comment {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M8 1c4.418 0 8 2.91 8 6.5s-3.582 6.5-8 6.5c-0.424 0-0.841-0.027-1.247-0.079-1.718 1.718-3.77 2.027-5.753 2.072v-0.421c1.071-0.525 2-1.48 2-2.572 0-0.152-0.012-0.302-0.034-0.448-1.809-1.192-2.966-3.012-2.966-5.052 0-3.59 3.582-6.5 8-6.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-comment,
.ui-button:active .ui-icon-comment {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M8 1c4.418 0 8 2.91 8 6.5s-3.582 6.5-8 6.5c-0.424 0-0.841-0.027-1.247-0.079-1.718 1.718-3.77 2.027-5.753 2.072v-0.421c1.071-0.525 2-1.48 2-2.572 0-0.152-0.012-0.302-0.034-0.448-1.809-1.192-2.966-3.012-2.966-5.052 0-3.59 3.582-6.5 8-6.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-comment {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M8 1c4.418 0 8 2.91 8 6.5s-3.582 6.5-8 6.5c-0.424 0-0.841-0.027-1.247-0.079-1.718 1.718-3.77 2.027-5.753 2.072v-0.421c1.071-0.525 2-1.48 2-2.572 0-0.152-0.012-0.302-0.034-0.448-1.809-1.192-2.966-3.012-2.966-5.052 0-3.59 3.582-6.5 8-6.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-star,
.ui-widget-content .ui-icon-star,
.ui-widget-header .ui-icon-star {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M16 6.204l-5.528-0.803-2.472-5.009-2.472 5.009-5.528 0.803 4 3.899-0.944 5.505 4.944-2.599 4.944 2.599-0.944-5.505 4-3.899z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-star,
.ui-state-focus .ui-icon-star,
.ui-button:hover .ui-icon-star,
.ui-button:focus .ui-icon-star {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M16 6.204l-5.528-0.803-2.472-5.009-2.472 5.009-5.528 0.803 4 3.899-0.944 5.505 4.944-2.599 4.944 2.599-0.944-5.505 4-3.899z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-star,
.ui-button:active .ui-icon-star {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M16 6.204l-5.528-0.803-2.472-5.009-2.472 5.009-5.528 0.803 4 3.899-0.944 5.505 4.944-2.599 4.944 2.599-0.944-5.505 4-3.899z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-star {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M16 6.204l-5.528-0.803-2.472-5.009-2.472 5.009-5.528 0.803 4 3.899-0.944 5.505 4.944-2.599 4.944 2.599-0.944-5.505 4-3.899z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-wrench,
.ui-widget-content .ui-icon-wrench,
.ui-widget-header .ui-icon-wrench {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M15.671 12.779l-7.196-6.168c0.335-0.63 0.525-1.348 0.525-2.111 0-2.485-2.015-4.5-4.5-4.5-0.455 0-0.893 0.068-1.307 0.193l2.6 2.6c0.389 0.389 0.389 1.025 0 1.414l-1.586 1.586c-0.389 0.389-1.025 0.389-1.414 0l-2.6-2.6c-0.125 0.414-0.193 0.852-0.193 1.307 0 2.485 2.015 4.5 4.5 4.5 0.763 0 1.482-0.19 2.111-0.525l6.168 7.196c0.358 0.418 0.969 0.441 1.358 0.052l1.586-1.586c0.389-0.389 0.365-1-0.052-1.358z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-wrench,
.ui-state-focus .ui-icon-wrench,
.ui-button:hover .ui-icon-wrench,
.ui-button:focus .ui-icon-wrench {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M15.671 12.779l-7.196-6.168c0.335-0.63 0.525-1.348 0.525-2.111 0-2.485-2.015-4.5-4.5-4.5-0.455 0-0.893 0.068-1.307 0.193l2.6 2.6c0.389 0.389 0.389 1.025 0 1.414l-1.586 1.586c-0.389 0.389-1.025 0.389-1.414 0l-2.6-2.6c-0.125 0.414-0.193 0.852-0.193 1.307 0 2.485 2.015 4.5 4.5 4.5 0.763 0 1.482-0.19 2.111-0.525l6.168 7.196c0.358 0.418 0.969 0.441 1.358 0.052l1.586-1.586c0.389-0.389 0.365-1-0.052-1.358z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-wrench,
.ui-button:active .ui-icon-wrench {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M15.671 12.779l-7.196-6.168c0.335-0.63 0.525-1.348 0.525-2.111 0-2.485-2.015-4.5-4.5-4.5-0.455 0-0.893 0.068-1.307 0.193l2.6 2.6c0.389 0.389 0.389 1.025 0 1.414l-1.586 1.586c-0.389 0.389-1.025 0.389-1.414 0l-2.6-2.6c-0.125 0.414-0.193 0.852-0.193 1.307 0 2.485 2.015 4.5 4.5 4.5 0.763 0 1.482-0.19 2.111-0.525l6.168 7.196c0.358 0.418 0.969 0.441 1.358 0.052l1.586-1.586c0.389-0.389 0.365-1-0.052-1.358z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-wrench {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M15.671 12.779l-7.196-6.168c0.335-0.63 0.525-1.348 0.525-2.111 0-2.485-2.015-4.5-4.5-4.5-0.455 0-0.893 0.068-1.307 0.193l2.6 2.6c0.389 0.389 0.389 1.025 0 1.414l-1.586 1.586c-0.389 0.389-1.025 0.389-1.414 0l-2.6-2.6c-0.125 0.414-0.193 0.852-0.193 1.307 0 2.485 2.015 4.5 4.5 4.5 0.763 0 1.482-0.19 2.111-0.525l6.168 7.196c0.358 0.418 0.969 0.441 1.358 0.052l1.586-1.586c0.389-0.389 0.365-1-0.052-1.358z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-gear,
.ui-widget-content .ui-icon-gear,
.ui-widget-header .ui-icon-gear {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M14.59 9.535c-0.839-1.454-0.335-3.317 1.127-4.164l-1.572-2.723c-0.449 0.263-0.972 0.414-1.529 0.414-1.68 0-3.042-1.371-3.042-3.062h-3.145c0.004 0.522-0.126 1.051-0.406 1.535-0.839 1.454-2.706 1.948-4.17 1.106l-1.572 2.723c0.453 0.257 0.845 0.634 1.123 1.117 0.838 1.452 0.336 3.311-1.12 4.16l1.572 2.723c0.448-0.261 0.967-0.41 1.522-0.41 1.675 0 3.033 1.362 3.042 3.046h3.145c-0.001-0.517 0.129-1.040 0.406-1.519 0.838-1.452 2.7-1.947 4.163-1.11l1.572-2.723c-0.45-0.257-0.839-0.633-1.116-1.113zM8 11.24c-1.789 0-3.24-1.45-3.24-3.24s1.45-3.24 3.24-3.24c1.789 0 3.24 1.45 3.24 3.24s-1.45 3.24-3.24 3.24z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-gear,
.ui-state-focus .ui-icon-gear,
.ui-button:hover .ui-icon-gear,
.ui-button:focus .ui-icon-gear {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M14.59 9.535c-0.839-1.454-0.335-3.317 1.127-4.164l-1.572-2.723c-0.449 0.263-0.972 0.414-1.529 0.414-1.68 0-3.042-1.371-3.042-3.062h-3.145c0.004 0.522-0.126 1.051-0.406 1.535-0.839 1.454-2.706 1.948-4.17 1.106l-1.572 2.723c0.453 0.257 0.845 0.634 1.123 1.117 0.838 1.452 0.336 3.311-1.12 4.16l1.572 2.723c0.448-0.261 0.967-0.41 1.522-0.41 1.675 0 3.033 1.362 3.042 3.046h3.145c-0.001-0.517 0.129-1.040 0.406-1.519 0.838-1.452 2.7-1.947 4.163-1.11l1.572-2.723c-0.45-0.257-0.839-0.633-1.116-1.113zM8 11.24c-1.789 0-3.24-1.45-3.24-3.24s1.45-3.24 3.24-3.24c1.789 0 3.24 1.45 3.24 3.24s-1.45 3.24-3.24 3.24z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-gear,
.ui-button:active .ui-icon-gear {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M14.59 9.535c-0.839-1.454-0.335-3.317 1.127-4.164l-1.572-2.723c-0.449 0.263-0.972 0.414-1.529 0.414-1.68 0-3.042-1.371-3.042-3.062h-3.145c0.004 0.522-0.126 1.051-0.406 1.535-0.839 1.454-2.706 1.948-4.17 1.106l-1.572 2.723c0.453 0.257 0.845 0.634 1.123 1.117 0.838 1.452 0.336 3.311-1.12 4.16l1.572 2.723c0.448-0.261 0.967-0.41 1.522-0.41 1.675 0 3.033 1.362 3.042 3.046h3.145c-0.001-0.517 0.129-1.040 0.406-1.519 0.838-1.452 2.7-1.947 4.163-1.11l1.572-2.723c-0.45-0.257-0.839-0.633-1.116-1.113zM8 11.24c-1.789 0-3.24-1.45-3.24-3.24s1.45-3.24 3.24-3.24c1.789 0 3.24 1.45 3.24 3.24s-1.45 3.24-3.24 3.24z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-gear {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M14.59 9.535c-0.839-1.454-0.335-3.317 1.127-4.164l-1.572-2.723c-0.449 0.263-0.972 0.414-1.529 0.414-1.68 0-3.042-1.371-3.042-3.062h-3.145c0.004 0.522-0.126 1.051-0.406 1.535-0.839 1.454-2.706 1.948-4.17 1.106l-1.572 2.723c0.453 0.257 0.845 0.634 1.123 1.117 0.838 1.452 0.336 3.311-1.12 4.16l1.572 2.723c0.448-0.261 0.967-0.41 1.522-0.41 1.675 0 3.033 1.362 3.042 3.046h3.145c-0.001-0.517 0.129-1.040 0.406-1.519 0.838-1.452 2.7-1.947 4.163-1.11l1.572-2.723c-0.45-0.257-0.839-0.633-1.116-1.113zM8 11.24c-1.789 0-3.24-1.45-3.24-3.24s1.45-3.24 3.24-3.24c1.789 0 3.24 1.45 3.24 3.24s-1.45 3.24-3.24 3.24z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-document,
.ui-widget-content .ui-icon-document,
.ui-widget-header .ui-icon-document {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M14.341 3.579c-0.347-0.473-0.831-1.027-1.362-1.558s-1.085-1.015-1.558-1.362c-0.806-0.591-1.197-0.659-1.421-0.659h-7.75c-0.689 0-1.25 0.561-1.25 1.25v13.5c0 0.689 0.561 1.25 1.25 1.25h11.5c0.689 0 1.25-0.561 1.25-1.25v-9.75c0-0.224-0.068-0.615-0.659-1.421zM12.271 2.729c0.48 0.48 0.856 0.912 1.134 1.271h-2.406v-2.405c0.359 0.278 0.792 0.654 1.271 1.134zM14 14.75c0 0.136-0.114 0.25-0.25 0.25h-11.5c-0.135 0-0.25-0.114-0.25-0.25v-13.5c0-0.135 0.115-0.25 0.25-0.25 0 0 7.749-0 7.75 0v3.5c0 0.276 0.224 0.5 0.5 0.5h3.5v9.75z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-document,
.ui-state-focus .ui-icon-document,
.ui-button:hover .ui-icon-document,
.ui-button:focus .ui-icon-document {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M14.341 3.579c-0.347-0.473-0.831-1.027-1.362-1.558s-1.085-1.015-1.558-1.362c-0.806-0.591-1.197-0.659-1.421-0.659h-7.75c-0.689 0-1.25 0.561-1.25 1.25v13.5c0 0.689 0.561 1.25 1.25 1.25h11.5c0.689 0 1.25-0.561 1.25-1.25v-9.75c0-0.224-0.068-0.615-0.659-1.421zM12.271 2.729c0.48 0.48 0.856 0.912 1.134 1.271h-2.406v-2.405c0.359 0.278 0.792 0.654 1.271 1.134zM14 14.75c0 0.136-0.114 0.25-0.25 0.25h-11.5c-0.135 0-0.25-0.114-0.25-0.25v-13.5c0-0.135 0.115-0.25 0.25-0.25 0 0 7.749-0 7.75 0v3.5c0 0.276 0.224 0.5 0.5 0.5h3.5v9.75z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-document,
.ui-button:active .ui-icon-document {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M14.341 3.579c-0.347-0.473-0.831-1.027-1.362-1.558s-1.085-1.015-1.558-1.362c-0.806-0.591-1.197-0.659-1.421-0.659h-7.75c-0.689 0-1.25 0.561-1.25 1.25v13.5c0 0.689 0.561 1.25 1.25 1.25h11.5c0.689 0 1.25-0.561 1.25-1.25v-9.75c0-0.224-0.068-0.615-0.659-1.421zM12.271 2.729c0.48 0.48 0.856 0.912 1.134 1.271h-2.406v-2.405c0.359 0.278 0.792 0.654 1.271 1.134zM14 14.75c0 0.136-0.114 0.25-0.25 0.25h-11.5c-0.135 0-0.25-0.114-0.25-0.25v-13.5c0-0.135 0.115-0.25 0.25-0.25 0 0 7.749-0 7.75 0v3.5c0 0.276 0.224 0.5 0.5 0.5h3.5v9.75z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-document {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M14.341 3.579c-0.347-0.473-0.831-1.027-1.362-1.558s-1.085-1.015-1.558-1.362c-0.806-0.591-1.197-0.659-1.421-0.659h-7.75c-0.689 0-1.25 0.561-1.25 1.25v13.5c0 0.689 0.561 1.25 1.25 1.25h11.5c0.689 0 1.25-0.561 1.25-1.25v-9.75c0-0.224-0.068-0.615-0.659-1.421zM12.271 2.729c0.48 0.48 0.856 0.912 1.134 1.271h-2.406v-2.405c0.359 0.278 0.792 0.654 1.271 1.134zM14 14.75c0 0.136-0.114 0.25-0.25 0.25h-11.5c-0.135 0-0.25-0.114-0.25-0.25v-13.5c0-0.135 0.115-0.25 0.25-0.25 0 0 7.749-0 7.75 0v3.5c0 0.276 0.224 0.5 0.5 0.5h3.5v9.75z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-plus,
.ui-widget-content .ui-icon-plus,
.ui-widget-header .ui-icon-plus {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M14.563 6.25h-4.813v-4.813c0-0.242-0.196-0.438-0.438-0.438h-2.625c-0.242 0-0.438 0.196-0.438 0.438v4.813h-4.813c-0.242 0-0.438 0.196-0.438 0.438v2.625c0 0.242 0.196 0.438 0.438 0.438h4.813v4.813c0 0.242 0.196 0.438 0.438 0.438h2.625c0.242 0 0.438-0.196 0.438-0.438v-4.813h4.813c0.242 0 0.438-0.196 0.438-0.438v-2.625c0-0.242-0.196-0.438-0.438-0.438z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-plus,
.ui-state-focus .ui-icon-plus,
.ui-button:hover .ui-icon-plus,
.ui-button:focus .ui-icon-plus {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M14.563 6.25h-4.813v-4.813c0-0.242-0.196-0.438-0.438-0.438h-2.625c-0.242 0-0.438 0.196-0.438 0.438v4.813h-4.813c-0.242 0-0.438 0.196-0.438 0.438v2.625c0 0.242 0.196 0.438 0.438 0.438h4.813v4.813c0 0.242 0.196 0.438 0.438 0.438h2.625c0.242 0 0.438-0.196 0.438-0.438v-4.813h4.813c0.242 0 0.438-0.196 0.438-0.438v-2.625c0-0.242-0.196-0.438-0.438-0.438z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-plus,
.ui-button:active .ui-icon-plus {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M14.563 6.25h-4.813v-4.813c0-0.242-0.196-0.438-0.438-0.438h-2.625c-0.242 0-0.438 0.196-0.438 0.438v4.813h-4.813c-0.242 0-0.438 0.196-0.438 0.438v2.625c0 0.242 0.196 0.438 0.438 0.438h4.813v4.813c0 0.242 0.196 0.438 0.438 0.438h2.625c0.242 0 0.438-0.196 0.438-0.438v-4.813h4.813c0.242 0 0.438-0.196 0.438-0.438v-2.625c0-0.242-0.196-0.438-0.438-0.438z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-plus {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M14.563 6.25h-4.813v-4.813c0-0.242-0.196-0.438-0.438-0.438h-2.625c-0.242 0-0.438 0.196-0.438 0.438v4.813h-4.813c-0.242 0-0.438 0.196-0.438 0.438v2.625c0 0.242 0.196 0.438 0.438 0.438h4.813v4.813c0 0.242 0.196 0.438 0.438 0.438h2.625c0.242 0 0.438-0.196 0.438-0.438v-4.813h4.813c0.242 0 0.438-0.196 0.438-0.438v-2.625c0-0.242-0.196-0.438-0.438-0.438z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-pencil,
.ui-widget-content .ui-icon-pencil,
.ui-widget-header .ui-icon-pencil {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M13.5 0c1.381 0 2.5 1.119 2.5 2.5 0 0.563-0.186 1.082-0.5 1.5l-1 1-3.5-3.5 1-1c0.418-0.314 0.937-0.5 1.5-0.5zM1 11.5l-1 4.5 4.5-1 9.25-9.25-3.5-3.5-9.25 9.25zM11.181 5.681l-7 7-0.862-0.862 7-7 0.862 0.862z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-pencil,
.ui-state-focus .ui-icon-pencil,
.ui-button:hover .ui-icon-pencil,
.ui-button:focus .ui-icon-pencil {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M13.5 0c1.381 0 2.5 1.119 2.5 2.5 0 0.563-0.186 1.082-0.5 1.5l-1 1-3.5-3.5 1-1c0.418-0.314 0.937-0.5 1.5-0.5zM1 11.5l-1 4.5 4.5-1 9.25-9.25-3.5-3.5-9.25 9.25zM11.181 5.681l-7 7-0.862-0.862 7-7 0.862 0.862z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-pencil,
.ui-button:active .ui-icon-pencil {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M13.5 0c1.381 0 2.5 1.119 2.5 2.5 0 0.563-0.186 1.082-0.5 1.5l-1 1-3.5-3.5 1-1c0.418-0.314 0.937-0.5 1.5-0.5zM1 11.5l-1 4.5 4.5-1 9.25-9.25-3.5-3.5-9.25 9.25zM11.181 5.681l-7 7-0.862-0.862 7-7 0.862 0.862z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-pencil {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M13.5 0c1.381 0 2.5 1.119 2.5 2.5 0 0.563-0.186 1.082-0.5 1.5l-1 1-3.5-3.5 1-1c0.418-0.314 0.937-0.5 1.5-0.5zM1 11.5l-1 4.5 4.5-1 9.25-9.25-3.5-3.5-9.25 9.25zM11.181 5.681l-7 7-0.862-0.862 7-7 0.862 0.862z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-arrow-4-diag,
.ui-widget-content .ui-icon-arrow-4-diag,
.ui-widget-header .ui-icon-arrow-4-diag {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M16 0h-6.5l2.5 2.5-3 3 1.5 1.5 3-3 2.5 2.5z%22%3E%3C/path%3E%3Cpath fill=%22%23444444%22 d=%22M16 16v-6.5l-2.5 2.5-3-3-1.5 1.5 3 3-2.5 2.5z%22%3E%3C/path%3E%3Cpath fill=%22%23444444%22 d=%22M0 16h6.5l-2.5-2.5 3-3-1.5-1.5-3 3-2.5-2.5z%22%3E%3C/path%3E%3Cpath fill=%22%23444444%22 d=%22M0 0v6.5l2.5-2.5 3 3 1.5-1.5-3-3 2.5-2.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-arrow-4-diag,
.ui-state-focus .ui-icon-arrow-4-diag,
.ui-button:hover .ui-icon-arrow-4-diag,
.ui-button:focus .ui-icon-arrow-4-diag {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M16 0h-6.5l2.5 2.5-3 3 1.5 1.5 3-3 2.5 2.5z%22%3E%3C/path%3E%3Cpath fill=%22%23555555%22 d=%22M16 16v-6.5l-2.5 2.5-3-3-1.5 1.5 3 3-2.5 2.5z%22%3E%3C/path%3E%3Cpath fill=%22%23555555%22 d=%22M0 16h6.5l-2.5-2.5 3-3-1.5-1.5-3 3-2.5-2.5z%22%3E%3C/path%3E%3Cpath fill=%22%23555555%22 d=%22M0 0v6.5l2.5-2.5 3 3 1.5-1.5-3-3 2.5-2.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-arrow-4-diag,
.ui-button:active .ui-icon-arrow-4-diag {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M16 0h-6.5l2.5 2.5-3 3 1.5 1.5 3-3 2.5 2.5z%22%3E%3C/path%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M16 16v-6.5l-2.5 2.5-3-3-1.5 1.5 3 3-2.5 2.5z%22%3E%3C/path%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M0 16h6.5l-2.5-2.5 3-3-1.5-1.5-3 3-2.5-2.5z%22%3E%3C/path%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M0 0v6.5l2.5-2.5 3 3 1.5-1.5-3-3 2.5-2.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-arrow-4-diag {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M16 0h-6.5l2.5 2.5-3 3 1.5 1.5 3-3 2.5 2.5z%22%3E%3C/path%3E%3Cpath fill=%22%23777777%22 d=%22M16 16v-6.5l-2.5 2.5-3-3-1.5 1.5 3 3-2.5 2.5z%22%3E%3C/path%3E%3Cpath fill=%22%23777777%22 d=%22M0 16h6.5l-2.5-2.5 3-3-1.5-1.5-3 3-2.5-2.5z%22%3E%3C/path%3E%3Cpath fill=%22%23777777%22 d=%22M0 0v6.5l2.5-2.5 3 3 1.5-1.5-3-3 2.5-2.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-copy,
.ui-widget-content .ui-icon-copy,
.ui-widget-header .ui-icon-copy {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M10 4v-4h-7l-3 3v9h6v4h10v-12h-6zM3 1.414v1.586h-1.586l1.586-1.586zM1 11v-7h3v-3h5v3l-3 3v4h-5zM9 5.414v1.586h-1.586l1.586-1.586zM15 15h-8v-7h3v-3h5v10z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-copy,
.ui-state-focus .ui-icon-copy,
.ui-button:hover .ui-icon-copy,
.ui-button:focus .ui-icon-copy {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M10 4v-4h-7l-3 3v9h6v4h10v-12h-6zM3 1.414v1.586h-1.586l1.586-1.586zM1 11v-7h3v-3h5v3l-3 3v4h-5zM9 5.414v1.586h-1.586l1.586-1.586zM15 15h-8v-7h3v-3h5v10z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-copy,
.ui-button:active .ui-icon-copy {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M10 4v-4h-7l-3 3v9h6v4h10v-12h-6zM3 1.414v1.586h-1.586l1.586-1.586zM1 11v-7h3v-3h5v3l-3 3v4h-5zM9 5.414v1.586h-1.586l1.586-1.586zM15 15h-8v-7h3v-3h5v10z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-copy {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M10 4v-4h-7l-3 3v9h6v4h10v-12h-6zM3 1.414v1.586h-1.586l1.586-1.586zM1 11v-7h3v-3h5v3l-3 3v4h-5zM9 5.414v1.586h-1.586l1.586-1.586zM15 15h-8v-7h3v-3h5v10z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-triangle-1-n,
.ui-widget-content .ui-icon-triangle-1-n,
.ui-widget-header .ui-icon-triangle-1-n {
  background-position: 2px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M5.996 4l-5.996 5.996h11.992l-5.996-5.996z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-triangle-1-n,
.ui-state-focus .ui-icon-triangle-1-n,
.ui-button:hover .ui-icon-triangle-1-n,
.ui-button:focus .ui-icon-triangle-1-n {
  background-position: 2px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M5.996 4l-5.996 5.996h11.992l-5.996-5.996z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-triangle-1-n,
.ui-button:active .ui-icon-triangle-1-n {
  background-position: 2px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M5.996 4l-5.996 5.996h11.992l-5.996-5.996z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-triangle-1-n {
  background-position: 2px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M5.996 4l-5.996 5.996h11.992l-5.996-5.996z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-triangle-1-s,
.ui-widget-content .ui-icon-triangle-1-s,
.ui-widget-header .ui-icon-triangle-1-s {
  background-position: 2px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M0 6l5.996 5.996 5.996-5.996h-11.992z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-triangle-1-s,
.ui-state-focus .ui-icon-triangle-1-s,
.ui-button:hover .ui-icon-triangle-1-s,
.ui-button:focus .ui-icon-triangle-1-s {
  background-position: 2px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M0 6l5.996 5.996 5.996-5.996h-11.992z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-triangle-1-s,
.ui-button:active .ui-icon-triangle-1-s {
  background-position: 2px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M0 6l5.996 5.996 5.996-5.996h-11.992z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-triangle-1-s {
  background-position: 2px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M0 6l5.996 5.996 5.996-5.996h-11.992z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-triangle-1-e,
.ui-widget-content .ui-icon-triangle-1-e,
.ui-widget-header .ui-icon-triangle-1-e {
  background-position: 4px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M0.001 2.004l5.996 5.996-5.996 5.996v-11.992z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-triangle-1-e,
.ui-state-focus .ui-icon-triangle-1-e,
.ui-button:hover .ui-icon-triangle-1-e,
.ui-button:focus .ui-icon-triangle-1-e {
  background-position: 4px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M0.001 2.004l5.996 5.996-5.996 5.996v-11.992z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-triangle-1-e,
.ui-button:active .ui-icon-triangle-1-e {
  background-position: 4px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M0.001 2.004l5.996 5.996-5.996 5.996v-11.992z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-triangle-1-e {
  background-position: 4px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M0.001 2.004l5.996 5.996-5.996 5.996v-11.992z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-triangle-1-w,
.ui-widget-content .ui-icon-triangle-1-w,
.ui-widget-header .ui-icon-triangle-1-w {
  background-position: 4px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M0 7.998l5.996 5.996v-11.992l-5.996 5.996z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-triangle-1-w,
.ui-state-focus .ui-icon-triangle-1-w,
.ui-button:hover .ui-icon-triangle-1-w,
.ui-button:focus .ui-icon-triangle-1-w {
  background-position: 4px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M0 7.998l5.996 5.996v-11.992l-5.996 5.996z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-triangle-1-w,
.ui-button:active .ui-icon-triangle-1-w {
  background-position: 4px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M0 7.998l5.996 5.996v-11.992l-5.996 5.996z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-triangle-1-w {
  background-position: 4px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M0 7.998l5.996 5.996v-11.992l-5.996 5.996z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-closethick,
.ui-widget-content .ui-icon-closethick,
.ui-widget-header .ui-icon-closethick {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M14.241 11.857c-0-0-0-0-0-0l-3.857-3.857 3.857-3.857c0-0 0-0 0-0 0.042-0.042 0.072-0.090 0.091-0.142 0.053-0.141 0.023-0.306-0.091-0.42l-1.822-1.822c-0.114-0.114-0.279-0.144-0.42-0.091-0.052 0.019-0.1 0.049-0.142 0.091 0 0-0 0-0 0l-3.857 3.857-3.857-3.857c-0-0-0-0-0-0-0.042-0.041-0.090-0.072-0.142-0.091-0.141-0.053-0.306-0.023-0.42 0.091l-1.822 1.822c-0.114 0.114-0.144 0.279-0.091 0.42 0.019 0.052 0.049 0.1 0.091 0.142 0 0 0 0 0 0l3.857 3.857-3.857 3.857c-0 0-0 0-0 0-0.041 0.042-0.072 0.090-0.091 0.142-0.053 0.141-0.023 0.306 0.091 0.42l1.822 1.822c0.114 0.114 0.279 0.144 0.42 0.091 0.052-0.019 0.1-0.049 0.142-0.091 0-0 0-0 0-0l3.857-3.857 3.857 3.857c0 0 0 0 0 0 0.042 0.042 0.090 0.072 0.142 0.091 0.141 0.053 0.306 0.023 0.42-0.091l1.822-1.822c0.114-0.114 0.144-0.279 0.091-0.42-0.019-0.052-0.049-0.1-0.091-0.142z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-closethick,
.ui-state-focus .ui-icon-closethick,
.ui-button:hover .ui-icon-closethick,
.ui-button:focus .ui-icon-closethick {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M14.241 11.857c-0-0-0-0-0-0l-3.857-3.857 3.857-3.857c0-0 0-0 0-0 0.042-0.042 0.072-0.090 0.091-0.142 0.053-0.141 0.023-0.306-0.091-0.42l-1.822-1.822c-0.114-0.114-0.279-0.144-0.42-0.091-0.052 0.019-0.1 0.049-0.142 0.091 0 0-0 0-0 0l-3.857 3.857-3.857-3.857c-0-0-0-0-0-0-0.042-0.041-0.090-0.072-0.142-0.091-0.141-0.053-0.306-0.023-0.42 0.091l-1.822 1.822c-0.114 0.114-0.144 0.279-0.091 0.42 0.019 0.052 0.049 0.1 0.091 0.142 0 0 0 0 0 0l3.857 3.857-3.857 3.857c-0 0-0 0-0 0-0.041 0.042-0.072 0.090-0.091 0.142-0.053 0.141-0.023 0.306 0.091 0.42l1.822 1.822c0.114 0.114 0.279 0.144 0.42 0.091 0.052-0.019 0.1-0.049 0.142-0.091 0-0 0-0 0-0l3.857-3.857 3.857 3.857c0 0 0 0 0 0 0.042 0.042 0.090 0.072 0.142 0.091 0.141 0.053 0.306 0.023 0.42-0.091l1.822-1.822c0.114-0.114 0.144-0.279 0.091-0.42-0.019-0.052-0.049-0.1-0.091-0.142z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-closethick,
.ui-button:active .ui-icon-closethick {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M14.241 11.857c-0-0-0-0-0-0l-3.857-3.857 3.857-3.857c0-0 0-0 0-0 0.042-0.042 0.072-0.090 0.091-0.142 0.053-0.141 0.023-0.306-0.091-0.42l-1.822-1.822c-0.114-0.114-0.279-0.144-0.42-0.091-0.052 0.019-0.1 0.049-0.142 0.091 0 0-0 0-0 0l-3.857 3.857-3.857-3.857c-0-0-0-0-0-0-0.042-0.041-0.090-0.072-0.142-0.091-0.141-0.053-0.306-0.023-0.42 0.091l-1.822 1.822c-0.114 0.114-0.144 0.279-0.091 0.42 0.019 0.052 0.049 0.1 0.091 0.142 0 0 0 0 0 0l3.857 3.857-3.857 3.857c-0 0-0 0-0 0-0.041 0.042-0.072 0.090-0.091 0.142-0.053 0.141-0.023 0.306 0.091 0.42l1.822 1.822c0.114 0.114 0.279 0.144 0.42 0.091 0.052-0.019 0.1-0.049 0.142-0.091 0-0 0-0 0-0l3.857-3.857 3.857 3.857c0 0 0 0 0 0 0.042 0.042 0.090 0.072 0.142 0.091 0.141 0.053 0.306 0.023 0.42-0.091l1.822-1.822c0.114-0.114 0.144-0.279 0.091-0.42-0.019-0.052-0.049-0.1-0.091-0.142z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-closethick {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M14.241 11.857c-0-0-0-0-0-0l-3.857-3.857 3.857-3.857c0-0 0-0 0-0 0.042-0.042 0.072-0.090 0.091-0.142 0.053-0.141 0.023-0.306-0.091-0.42l-1.822-1.822c-0.114-0.114-0.279-0.144-0.42-0.091-0.052 0.019-0.1 0.049-0.142 0.091 0 0-0 0-0 0l-3.857 3.857-3.857-3.857c-0-0-0-0-0-0-0.042-0.041-0.090-0.072-0.142-0.091-0.141-0.053-0.306-0.023-0.42 0.091l-1.822 1.822c-0.114 0.114-0.144 0.279-0.091 0.42 0.019 0.052 0.049 0.1 0.091 0.142 0 0 0 0 0 0l3.857 3.857-3.857 3.857c-0 0-0 0-0 0-0.041 0.042-0.072 0.090-0.091 0.142-0.053 0.141-0.023 0.306 0.091 0.42l1.822 1.822c0.114 0.114 0.279 0.144 0.42 0.091 0.052-0.019 0.1-0.049 0.142-0.091 0-0 0-0 0-0l3.857-3.857 3.857 3.857c0 0 0 0 0 0 0.042 0.042 0.090 0.072 0.142 0.091 0.141 0.053 0.306 0.023 0.42-0.091l1.822-1.822c0.114-0.114 0.144-0.279 0.091-0.42-0.019-0.052-0.049-0.1-0.091-0.142z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-check,
.ui-widget-content .ui-icon-check,
.ui-widget-header .ui-icon-check {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M13.5 2l-7.5 7.5-3.5-3.5-2.5 2.5 6 6 10-10z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-check,
.ui-state-focus .ui-icon-check,
.ui-button:hover .ui-icon-check,
.ui-button:focus .ui-icon-check {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M13.5 2l-7.5 7.5-3.5-3.5-2.5 2.5 6 6 10-10z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-check,
.ui-button:active .ui-icon-check {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M13.5 2l-7.5 7.5-3.5-3.5-2.5 2.5 6 6 10-10z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-check {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M13.5 2l-7.5 7.5-3.5-3.5-2.5 2.5 6 6 10-10z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-refresh,
.ui-widget-content .ui-icon-refresh,
.ui-widget-header .ui-icon-refresh {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M13.901 2.599c-1.463-1.597-3.565-2.599-5.901-2.599-4.418 0-8 3.582-8 8h1.5c0-3.59 2.91-6.5 6.5-6.5 1.922 0 3.649 0.835 4.839 2.161l-2.339 2.339h5.5v-5.5l-2.099 2.099z%22%3E%3C/path%3E%3Cpath fill=%22%23444444%22 d=%22M14.5 8c0 3.59-2.91 6.5-6.5 6.5-1.922 0-3.649-0.835-4.839-2.161l2.339-2.339h-5.5v5.5l2.099-2.099c1.463 1.597 3.565 2.599 5.901 2.599 4.418 0 8-3.582 8-8h-1.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-refresh,
.ui-state-focus .ui-icon-refresh,
.ui-button:hover .ui-icon-refresh,
.ui-button:focus .ui-icon-refresh {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M13.901 2.599c-1.463-1.597-3.565-2.599-5.901-2.599-4.418 0-8 3.582-8 8h1.5c0-3.59 2.91-6.5 6.5-6.5 1.922 0 3.649 0.835 4.839 2.161l-2.339 2.339h5.5v-5.5l-2.099 2.099z%22%3E%3C/path%3E%3Cpath fill=%22%23555555%22 d=%22M14.5 8c0 3.59-2.91 6.5-6.5 6.5-1.922 0-3.649-0.835-4.839-2.161l2.339-2.339h-5.5v5.5l2.099-2.099c1.463 1.597 3.565 2.599 5.901 2.599 4.418 0 8-3.582 8-8h-1.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-refresh,
.ui-button:active .ui-icon-refresh {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M13.901 2.599c-1.463-1.597-3.565-2.599-5.901-2.599-4.418 0-8 3.582-8 8h1.5c0-3.59 2.91-6.5 6.5-6.5 1.922 0 3.649 0.835 4.839 2.161l-2.339 2.339h5.5v-5.5l-2.099 2.099z%22%3E%3C/path%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M14.5 8c0 3.59-2.91 6.5-6.5 6.5-1.922 0-3.649-0.835-4.839-2.161l2.339-2.339h-5.5v5.5l2.099-2.099c1.463 1.597 3.565 2.599 5.901 2.599 4.418 0 8-3.582 8-8h-1.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-refresh {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M13.901 2.599c-1.463-1.597-3.565-2.599-5.901-2.599-4.418 0-8 3.582-8 8h1.5c0-3.59 2.91-6.5 6.5-6.5 1.922 0 3.649 0.835 4.839 2.161l-2.339 2.339h5.5v-5.5l-2.099 2.099z%22%3E%3C/path%3E%3Cpath fill=%22%23777777%22 d=%22M14.5 8c0 3.59-2.91 6.5-6.5 6.5-1.922 0-3.649-0.835-4.839-2.161l2.339-2.339h-5.5v5.5l2.099-2.099c1.463 1.597 3.565 2.599 5.901 2.599 4.418 0 8-3.582 8-8h-1.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-arrowreturnthick-1-e,
.ui-widget-content .ui-icon-arrowreturnthick-1-e,
.ui-widget-header .ui-icon-arrowreturnthick-1-e {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M4.096 0c-1.777 3.219-2.076 8.13 4.904 7.966v-3.966l6 6-6 6v-3.881c-8.359 0.218-9.29-7.378-4.904-12.119z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-arrowreturnthick-1-e,
.ui-state-focus .ui-icon-arrowreturnthick-1-e,
.ui-button:hover .ui-icon-arrowreturnthick-1-e,
.ui-button:focus .ui-icon-arrowreturnthick-1-e {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M4.096 0c-1.777 3.219-2.076 8.13 4.904 7.966v-3.966l6 6-6 6v-3.881c-8.359 0.218-9.29-7.378-4.904-12.119z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-arrowreturnthick-1-e,
.ui-button:active .ui-icon-arrowreturnthick-1-e {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M4.096 0c-1.777 3.219-2.076 8.13 4.904 7.966v-3.966l6 6-6 6v-3.881c-8.359 0.218-9.29-7.378-4.904-12.119z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-arrowreturnthick-1-e {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M4.096 0c-1.777 3.219-2.076 8.13 4.904 7.966v-3.966l6 6-6 6v-3.881c-8.359 0.218-9.29-7.378-4.904-12.119z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-arrowreturnthick-1-w,
.ui-widget-content .ui-icon-arrowreturnthick-1-w,
.ui-widget-header .ui-icon-arrowreturnthick-1-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M11.904 16c1.777-3.219 2.076-8.13-4.904-7.966v3.966l-6-6 6-6v3.881c8.359-0.218 9.29 7.378 4.904 12.119z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-arrowreturnthick-1-w,
.ui-state-focus .ui-icon-arrowreturnthick-1-w,
.ui-button:hover .ui-icon-arrowreturnthick-1-w,
.ui-button:focus .ui-icon-arrowreturnthick-1-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M11.904 16c1.777-3.219 2.076-8.13-4.904-7.966v3.966l-6-6 6-6v3.881c8.359-0.218 9.29 7.378 4.904 12.119z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-arrowreturnthick-1-w,
.ui-button:active .ui-icon-arrowreturnthick-1-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M11.904 16c1.777-3.219 2.076-8.13-4.904-7.966v3.966l-6-6 6-6v3.881c8.359-0.218 9.29 7.378 4.904 12.119z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-arrowreturnthick-1-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M11.904 16c1.777-3.219 2.076-8.13-4.904-7.966v3.966l-6-6 6-6v3.881c8.359-0.218 9.29 7.378 4.904 12.119z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-trash,
.ui-widget-content .ui-icon-trash,
.ui-widget-header .ui-icon-trash {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M3 16h10l1-11h-12zM10 2v-2h-4v2h-5v3l1-1h12l1 1v-3h-5zM9 2h-2v-1h2v1z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-trash,
.ui-state-focus .ui-icon-trash,
.ui-button:hover .ui-icon-trash,
.ui-button:focus .ui-icon-trash {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M3 16h10l1-11h-12zM10 2v-2h-4v2h-5v3l1-1h12l1 1v-3h-5zM9 2h-2v-1h2v1z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-trash,
.ui-button:active .ui-icon-trash {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M3 16h10l1-11h-12zM10 2v-2h-4v2h-5v3l1-1h12l1 1v-3h-5zM9 2h-2v-1h2v1z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-trash {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M3 16h10l1-11h-12zM10 2v-2h-4v2h-5v3l1-1h12l1 1v-3h-5zM9 2h-2v-1h2v1z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-help,
.ui-widget-content .ui-icon-help,
.ui-widget-header .ui-icon-help {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M6.286 11.214v2.143c0 0.196-0.161 0.357-0.357 0.357h-2.143c-0.196 0-0.357-0.161-0.357-0.357v-2.143c0-0.196 0.161-0.357 0.357-0.357h2.143c0.196 0 0.357 0.161 0.357 0.357zM9.107 5.857c0 1.696-1.152 2.348-2 2.821-0.527 0.304-0.857 0.92-0.857 1.179v0c0 0.196-0.152 0.429-0.357 0.429h-2.143c-0.196 0-0.321-0.304-0.321-0.5v-0.402c0-1.080 1.071-2.009 1.857-2.366 0.688-0.313 0.973-0.607 0.973-1.179 0-0.5-0.652-0.946-1.375-0.946-0.402 0-0.768 0.125-0.964 0.259-0.214 0.152-0.429 0.366-0.955 1.027-0.071 0.089-0.179 0.143-0.277 0.143-0.080 0-0.152-0.027-0.223-0.071l-1.464-1.116c-0.152-0.116-0.188-0.313-0.089-0.473 0.964-1.598 2.321-2.375 4.143-2.375 1.911 0 4.054 1.527 4.054 3.571z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-help,
.ui-state-focus .ui-icon-help,
.ui-button:hover .ui-icon-help,
.ui-button:focus .ui-icon-help {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M6.286 11.214v2.143c0 0.196-0.161 0.357-0.357 0.357h-2.143c-0.196 0-0.357-0.161-0.357-0.357v-2.143c0-0.196 0.161-0.357 0.357-0.357h2.143c0.196 0 0.357 0.161 0.357 0.357zM9.107 5.857c0 1.696-1.152 2.348-2 2.821-0.527 0.304-0.857 0.92-0.857 1.179v0c0 0.196-0.152 0.429-0.357 0.429h-2.143c-0.196 0-0.321-0.304-0.321-0.5v-0.402c0-1.080 1.071-2.009 1.857-2.366 0.688-0.313 0.973-0.607 0.973-1.179 0-0.5-0.652-0.946-1.375-0.946-0.402 0-0.768 0.125-0.964 0.259-0.214 0.152-0.429 0.366-0.955 1.027-0.071 0.089-0.179 0.143-0.277 0.143-0.080 0-0.152-0.027-0.223-0.071l-1.464-1.116c-0.152-0.116-0.188-0.313-0.089-0.473 0.964-1.598 2.321-2.375 4.143-2.375 1.911 0 4.054 1.527 4.054 3.571z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-help,
.ui-button:active .ui-icon-help {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M6.286 11.214v2.143c0 0.196-0.161 0.357-0.357 0.357h-2.143c-0.196 0-0.357-0.161-0.357-0.357v-2.143c0-0.196 0.161-0.357 0.357-0.357h2.143c0.196 0 0.357 0.161 0.357 0.357zM9.107 5.857c0 1.696-1.152 2.348-2 2.821-0.527 0.304-0.857 0.92-0.857 1.179v0c0 0.196-0.152 0.429-0.357 0.429h-2.143c-0.196 0-0.321-0.304-0.321-0.5v-0.402c0-1.080 1.071-2.009 1.857-2.366 0.688-0.313 0.973-0.607 0.973-1.179 0-0.5-0.652-0.946-1.375-0.946-0.402 0-0.768 0.125-0.964 0.259-0.214 0.152-0.429 0.366-0.955 1.027-0.071 0.089-0.179 0.143-0.277 0.143-0.080 0-0.152-0.027-0.223-0.071l-1.464-1.116c-0.152-0.116-0.188-0.313-0.089-0.473 0.964-1.598 2.321-2.375 4.143-2.375 1.911 0 4.054 1.527 4.054 3.571z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-help {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M6.286 11.214v2.143c0 0.196-0.161 0.357-0.357 0.357h-2.143c-0.196 0-0.357-0.161-0.357-0.357v-2.143c0-0.196 0.161-0.357 0.357-0.357h2.143c0.196 0 0.357 0.161 0.357 0.357zM9.107 5.857c0 1.696-1.152 2.348-2 2.821-0.527 0.304-0.857 0.92-0.857 1.179v0c0 0.196-0.152 0.429-0.357 0.429h-2.143c-0.196 0-0.321-0.304-0.321-0.5v-0.402c0-1.080 1.071-2.009 1.857-2.366 0.688-0.313 0.973-0.607 0.973-1.179 0-0.5-0.652-0.946-1.375-0.946-0.402 0-0.768 0.125-0.964 0.259-0.214 0.152-0.429 0.366-0.955 1.027-0.071 0.089-0.179 0.143-0.277 0.143-0.080 0-0.152-0.027-0.223-0.071l-1.464-1.116c-0.152-0.116-0.188-0.313-0.089-0.473 0.964-1.598 2.321-2.375 4.143-2.375 1.911 0 4.054 1.527 4.054 3.571z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-caret-1-n,
.ui-widget-content .ui-icon-caret-1-n,
.ui-widget-header .ui-icon-caret-1-n {
  background-position: 3px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M5 4l-5 5 2 2 3-3 3 3 2-2-5-5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-caret-1-n,
.ui-state-focus .ui-icon-caret-1-n,
.ui-button:hover .ui-icon-caret-1-n,
.ui-button:focus .ui-icon-caret-1-n {
  background-position: 3px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M5 4l-5 5 2 2 3-3 3 3 2-2-5-5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-caret-1-n,
.ui-button:active .ui-icon-caret-1-n {
  background-position: 3px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M5 4l-5 5 2 2 3-3 3 3 2-2-5-5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-caret-1-n {
  background-position: 3px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M5 4l-5 5 2 2 3-3 3 3 2-2-5-5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-caret-1-s,
.ui-widget-content .ui-icon-caret-1-s,
.ui-widget-header .ui-icon-caret-1-s {
  background-position: 3px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M8 5l-3 3-3-3-2 2 5 5 5-5-2-2z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-caret-1-s,
.ui-state-focus .ui-icon-caret-1-s,
.ui-button:hover .ui-icon-caret-1-s,
.ui-button:focus .ui-icon-caret-1-s {
  background-position: 3px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M8 5l-3 3-3-3-2 2 5 5 5-5-2-2z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-caret-1-s,
.ui-button:active .ui-icon-caret-1-s {
  background-position: 3px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M8 5l-3 3-3-3-2 2 5 5 5-5-2-2z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-caret-1-s {
  background-position: 3px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M8 5l-3 3-3-3-2 2 5 5 5-5-2-2z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-caret-1-e,
.ui-widget-content .ui-icon-caret-1-e,
.ui-widget-header .ui-icon-caret-1-e {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M2 3l-2 2 3 3-3 3 2 2 5-5-5-5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-caret-1-e,
.ui-state-focus .ui-icon-caret-1-e,
.ui-button:hover .ui-icon-caret-1-e,
.ui-button:focus .ui-icon-caret-1-e {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M2 3l-2 2 3 3-3 3 2 2 5-5-5-5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-caret-1-e,
.ui-button:active .ui-icon-caret-1-e {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M2 3l-2 2 3 3-3 3 2 2 5-5-5-5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-caret-1-e {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M2 3l-2 2 3 3-3 3 2 2 5-5-5-5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-caret-1-w,
.ui-widget-content .ui-icon-caret-1-w,
.ui-widget-header .ui-icon-caret-1-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M7 5l-2-2-5 5 5 5 2-2-3-3 3-3z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-caret-1-w,
.ui-state-focus .ui-icon-caret-1-w,
.ui-button:hover .ui-icon-caret-1-w,
.ui-button:focus .ui-icon-caret-1-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M7 5l-2-2-5 5 5 5 2-2-3-3 3-3z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-caret-1-w,
.ui-button:active .ui-icon-caret-1-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M7 5l-2-2-5 5 5 5 2-2-3-3 3-3z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-caret-1-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M7 5l-2-2-5 5 5 5 2-2-3-3 3-3z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-transferthick-e-w,
.ui-widget-content .ui-icon-transferthick-e-w,
.ui-widget-header .ui-icon-transferthick-e-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M2 5h10v3l4-4-4-4v3h-12v6h2zM14 11h-10v-3l-4 4 4 4v-3h12v-6h-2z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-transferthick-e-w,
.ui-state-focus .ui-icon-transferthick-e-w,
.ui-button:hover .ui-icon-transferthick-e-w,
.ui-button:focus .ui-icon-transferthick-e-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M2 5h10v3l4-4-4-4v3h-12v6h2zM14 11h-10v-3l-4 4 4 4v-3h12v-6h-2z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-transferthick-e-w,
.ui-button:active .ui-icon-transferthick-e-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M2 5h10v3l4-4-4-4v3h-12v6h2zM14 11h-10v-3l-4 4 4 4v-3h12v-6h-2z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-transferthick-e-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M2 5h10v3l4-4-4-4v3h-12v6h2zM14 11h-10v-3l-4 4 4 4v-3h12v-6h-2z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-newwin,
.ui-widget-content .ui-icon-newwin,
.ui-widget-header .ui-icon-newwin {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M4 10c0 0 0.919-3 6-3v3l6-4-6-4v3c-4 0-6 2.495-6 5zM11 12h-9v-6h1.967c0.158-0.186 0.327-0.365 0.508-0.534 0.687-0.644 1.509-1.135 2.439-1.466h-6.914v10h13v-4.197l-2 1.333v0.864z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-newwin,
.ui-state-focus .ui-icon-newwin,
.ui-button:hover .ui-icon-newwin,
.ui-button:focus .ui-icon-newwin {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M4 10c0 0 0.919-3 6-3v3l6-4-6-4v3c-4 0-6 2.495-6 5zM11 12h-9v-6h1.967c0.158-0.186 0.327-0.365 0.508-0.534 0.687-0.644 1.509-1.135 2.439-1.466h-6.914v10h13v-4.197l-2 1.333v0.864z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-newwin,
.ui-button:active .ui-icon-newwin {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M4 10c0 0 0.919-3 6-3v3l6-4-6-4v3c-4 0-6 2.495-6 5zM11 12h-9v-6h1.967c0.158-0.186 0.327-0.365 0.508-0.534 0.687-0.644 1.509-1.135 2.439-1.466h-6.914v10h13v-4.197l-2 1.333v0.864z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-newwin {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M4 10c0 0 0.919-3 6-3v3l6-4-6-4v3c-4 0-6 2.495-6 5zM11 12h-9v-6h1.967c0.158-0.186 0.327-0.365 0.508-0.534 0.687-0.644 1.509-1.135 2.439-1.466h-6.914v10h13v-4.197l-2 1.333v0.864z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-circle-triangle-e,
.ui-widget-content .ui-icon-circle-triangle-e,
.ui-widget-header .ui-icon-circle-triangle-e {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5z%22%3E%3C/path%3E%3Cpath fill=%22%23444444%22 d=%22M5.543 11.043l1.414 1.414 4.457-4.457-4.457-4.457-1.414 1.414 3.043 3.043z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-circle-triangle-e,
.ui-state-focus .ui-icon-circle-triangle-e,
.ui-button:hover .ui-icon-circle-triangle-e,
.ui-button:focus .ui-icon-circle-triangle-e {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5z%22%3E%3C/path%3E%3Cpath fill=%22%23555555%22 d=%22M5.543 11.043l1.414 1.414 4.457-4.457-4.457-4.457-1.414 1.414 3.043 3.043z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-circle-triangle-e,
.ui-button:active .ui-icon-circle-triangle-e {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5z%22%3E%3C/path%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M5.543 11.043l1.414 1.414 4.457-4.457-4.457-4.457-1.414 1.414 3.043 3.043z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-circle-triangle-e {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5z%22%3E%3C/path%3E%3Cpath fill=%22%23777777%22 d=%22M5.543 11.043l1.414 1.414 4.457-4.457-4.457-4.457-1.414 1.414 3.043 3.043z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-circle-triangle-w,
.ui-widget-content .ui-icon-circle-triangle-w,
.ui-widget-header .ui-icon-circle-triangle-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zM8 1.5c3.59 0 6.5 2.91 6.5 6.5s-2.91 6.5-6.5 6.5-6.5-2.91-6.5-6.5 2.91-6.5 6.5-6.5z%22%3E%3C/path%3E%3Cpath fill=%22%23444444%22 d=%22M10.457 4.957l-1.414-1.414-4.457 4.457 4.457 4.457 1.414-1.414-3.043-3.043z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-circle-triangle-w,
.ui-state-focus .ui-icon-circle-triangle-w,
.ui-button:hover .ui-icon-circle-triangle-w,
.ui-button:focus .ui-icon-circle-triangle-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zM8 1.5c3.59 0 6.5 2.91 6.5 6.5s-2.91 6.5-6.5 6.5-6.5-2.91-6.5-6.5 2.91-6.5 6.5-6.5z%22%3E%3C/path%3E%3Cpath fill=%22%23555555%22 d=%22M10.457 4.957l-1.414-1.414-4.457 4.457 4.457 4.457 1.414-1.414-3.043-3.043z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-circle-triangle-w,
.ui-button:active .ui-icon-circle-triangle-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zM8 1.5c3.59 0 6.5 2.91 6.5 6.5s-2.91 6.5-6.5 6.5-6.5-2.91-6.5-6.5 2.91-6.5 6.5-6.5z%22%3E%3C/path%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M10.457 4.957l-1.414-1.414-4.457 4.457 4.457 4.457 1.414-1.414-3.043-3.043z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-circle-triangle-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zM8 1.5c3.59 0 6.5 2.91 6.5 6.5s-2.91 6.5-6.5 6.5-6.5-2.91-6.5-6.5 2.91-6.5 6.5-6.5z%22%3E%3C/path%3E%3Cpath fill=%22%23777777%22 d=%22M10.457 4.957l-1.414-1.414-4.457 4.457 4.457 4.457 1.414-1.414-3.043-3.043z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-signal-diag,
.ui-widget-content .ui-icon-signal-diag,
.ui-widget-header .ui-icon-signal-diag {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M2.13 11.733c-1.175 0-2.13 0.958-2.13 2.126 0 1.174 0.955 2.122 2.13 2.122 1.179 0 2.133-0.948 2.133-2.122-0-1.168-0.954-2.126-2.133-2.126zM0.002 5.436v3.067c1.997 0 3.874 0.781 5.288 2.196 1.412 1.411 2.192 3.297 2.192 5.302h3.080c-0-5.825-4.739-10.564-10.56-10.564zM0.006 0v3.068c7.122 0 12.918 5.802 12.918 12.932h3.076c0-8.82-7.176-16-15.994-16z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-signal-diag,
.ui-state-focus .ui-icon-signal-diag,
.ui-button:hover .ui-icon-signal-diag,
.ui-button:focus .ui-icon-signal-diag {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M2.13 11.733c-1.175 0-2.13 0.958-2.13 2.126 0 1.174 0.955 2.122 2.13 2.122 1.179 0 2.133-0.948 2.133-2.122-0-1.168-0.954-2.126-2.133-2.126zM0.002 5.436v3.067c1.997 0 3.874 0.781 5.288 2.196 1.412 1.411 2.192 3.297 2.192 5.302h3.080c-0-5.825-4.739-10.564-10.56-10.564zM0.006 0v3.068c7.122 0 12.918 5.802 12.918 12.932h3.076c0-8.82-7.176-16-15.994-16z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-signal-diag,
.ui-button:active .ui-icon-signal-diag {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M2.13 11.733c-1.175 0-2.13 0.958-2.13 2.126 0 1.174 0.955 2.122 2.13 2.122 1.179 0 2.133-0.948 2.133-2.122-0-1.168-0.954-2.126-2.133-2.126zM0.002 5.436v3.067c1.997 0 3.874 0.781 5.288 2.196 1.412 1.411 2.192 3.297 2.192 5.302h3.080c-0-5.825-4.739-10.564-10.56-10.564zM0.006 0v3.068c7.122 0 12.918 5.802 12.918 12.932h3.076c0-8.82-7.176-16-15.994-16z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-signal-diag {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M2.13 11.733c-1.175 0-2.13 0.958-2.13 2.126 0 1.174 0.955 2.122 2.13 2.122 1.179 0 2.133-0.948 2.133-2.122-0-1.168-0.954-2.126-2.133-2.126zM0.002 5.436v3.067c1.997 0 3.874 0.781 5.288 2.196 1.412 1.411 2.192 3.297 2.192 5.302h3.080c-0-5.825-4.739-10.564-10.56-10.564zM0.006 0v3.068c7.122 0 12.918 5.802 12.918 12.932h3.076c0-8.82-7.176-16-15.994-16z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-info,
.ui-widget-content .ui-icon-info,
.ui-widget-header .ui-icon-info {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M7 4.75c0-0.412 0.338-0.75 0.75-0.75h0.5c0.412 0 0.75 0.338 0.75 0.75v0.5c0 0.412-0.338 0.75-0.75 0.75h-0.5c-0.412 0-0.75-0.338-0.75-0.75v-0.5z%22%3E%3C/path%3E%3Cpath fill=%22%23444444%22 d=%22M10 12h-4v-1h1v-3h-1v-1h3v4h1z%22%3E%3C/path%3E%3Cpath fill=%22%23444444%22 d=%22M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-info,
.ui-state-focus .ui-icon-info,
.ui-button:hover .ui-icon-info,
.ui-button:focus .ui-icon-info {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M7 4.75c0-0.412 0.338-0.75 0.75-0.75h0.5c0.412 0 0.75 0.338 0.75 0.75v0.5c0 0.412-0.338 0.75-0.75 0.75h-0.5c-0.412 0-0.75-0.338-0.75-0.75v-0.5z%22%3E%3C/path%3E%3Cpath fill=%22%23555555%22 d=%22M10 12h-4v-1h1v-3h-1v-1h3v4h1z%22%3E%3C/path%3E%3Cpath fill=%22%23555555%22 d=%22M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-info,
.ui-button:active .ui-icon-info {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M7 4.75c0-0.412 0.338-0.75 0.75-0.75h0.5c0.412 0 0.75 0.338 0.75 0.75v0.5c0 0.412-0.338 0.75-0.75 0.75h-0.5c-0.412 0-0.75-0.338-0.75-0.75v-0.5z%22%3E%3C/path%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M10 12h-4v-1h1v-3h-1v-1h3v4h1z%22%3E%3C/path%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-info {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M7 4.75c0-0.412 0.338-0.75 0.75-0.75h0.5c0.412 0 0.75 0.338 0.75 0.75v0.5c0 0.412-0.338 0.75-0.75 0.75h-0.5c-0.412 0-0.75-0.338-0.75-0.75v-0.5z%22%3E%3C/path%3E%3Cpath fill=%22%23777777%22 d=%22M10 12h-4v-1h1v-3h-1v-1h3v4h1z%22%3E%3C/path%3E%3Cpath fill=%22%23777777%22 d=%22M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-highlight .ui-icon-info,
.ui-button .ui-state-highlight.ui-icon-info {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777620%22 d=%22M7 4.75c0-0.412 0.338-0.75 0.75-0.75h0.5c0.412 0 0.75 0.338 0.75 0.75v0.5c0 0.412-0.338 0.75-0.75 0.75h-0.5c-0.412 0-0.75-0.338-0.75-0.75v-0.5z%22%3E%3C/path%3E%3Cpath fill=%22%23777620%22 d=%22M10 12h-4v-1h1v-3h-1v-1h3v4h1z%22%3E%3C/path%3E%3Cpath fill=%22%23777620%22 d=%22M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-error .ui-icon-info,
.ui-state-error-text .ui-icon-info {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23CC0000%22 d=%22M7 4.75c0-0.412 0.338-0.75 0.75-0.75h0.5c0.412 0 0.75 0.338 0.75 0.75v0.5c0 0.412-0.338 0.75-0.75 0.75h-0.5c-0.412 0-0.75-0.338-0.75-0.75v-0.5z%22%3E%3C/path%3E%3Cpath fill=%22%23CC0000%22 d=%22M10 12h-4v-1h1v-3h-1v-1h3v4h1z%22%3E%3C/path%3E%3Cpath fill=%22%23CC0000%22 d=%22M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-alert,
.ui-widget-content .ui-icon-alert,
.ui-widget-header .ui-icon-alert {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M8 1.45l6.705 13.363h-13.409l6.705-13.363zM8 0c-0.345 0-0.69 0.233-0.951 0.698l-6.829 13.611c-0.523 0.93-0.078 1.691 0.989 1.691h13.583c1.067 0 1.512-0.761 0.989-1.691h0l-6.829-13.611c-0.262-0.465-0.606-0.698-0.951-0.698v0z%22%3E%3C/path%3E%3Cpath fill=%22%23444444%22 d=%22M9 13c0 0.552-0.448 1-1 1s-1-0.448-1-1c0-0.552 0.448-1 1-1s1 0.448 1 1z%22%3E%3C/path%3E%3Cpath fill=%22%23444444%22 d=%22M8 11c-0.552 0-1-0.448-1-1v-3c0-0.552 0.448-1 1-1s1 0.448 1 1v3c0 0.552-0.448 1-1 1z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-alert,
.ui-state-focus .ui-icon-alert,
.ui-button:hover .ui-icon-alert,
.ui-button:focus .ui-icon-alert {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M8 1.45l6.705 13.363h-13.409l6.705-13.363zM8 0c-0.345 0-0.69 0.233-0.951 0.698l-6.829 13.611c-0.523 0.93-0.078 1.691 0.989 1.691h13.583c1.067 0 1.512-0.761 0.989-1.691h0l-6.829-13.611c-0.262-0.465-0.606-0.698-0.951-0.698v0z%22%3E%3C/path%3E%3Cpath fill=%22%23555555%22 d=%22M9 13c0 0.552-0.448 1-1 1s-1-0.448-1-1c0-0.552 0.448-1 1-1s1 0.448 1 1z%22%3E%3C/path%3E%3Cpath fill=%22%23555555%22 d=%22M8 11c-0.552 0-1-0.448-1-1v-3c0-0.552 0.448-1 1-1s1 0.448 1 1v3c0 0.552-0.448 1-1 1z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-alert,
.ui-button:active .ui-icon-alert {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M8 1.45l6.705 13.363h-13.409l6.705-13.363zM8 0c-0.345 0-0.69 0.233-0.951 0.698l-6.829 13.611c-0.523 0.93-0.078 1.691 0.989 1.691h13.583c1.067 0 1.512-0.761 0.989-1.691h0l-6.829-13.611c-0.262-0.465-0.606-0.698-0.951-0.698v0z%22%3E%3C/path%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M9 13c0 0.552-0.448 1-1 1s-1-0.448-1-1c0-0.552 0.448-1 1-1s1 0.448 1 1z%22%3E%3C/path%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M8 11c-0.552 0-1-0.448-1-1v-3c0-0.552 0.448-1 1-1s1 0.448 1 1v3c0 0.552-0.448 1-1 1z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-alert {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M8 1.45l6.705 13.363h-13.409l6.705-13.363zM8 0c-0.345 0-0.69 0.233-0.951 0.698l-6.829 13.611c-0.523 0.93-0.078 1.691 0.989 1.691h13.583c1.067 0 1.512-0.761 0.989-1.691h0l-6.829-13.611c-0.262-0.465-0.606-0.698-0.951-0.698v0z%22%3E%3C/path%3E%3Cpath fill=%22%23777777%22 d=%22M9 13c0 0.552-0.448 1-1 1s-1-0.448-1-1c0-0.552 0.448-1 1-1s1 0.448 1 1z%22%3E%3C/path%3E%3Cpath fill=%22%23777777%22 d=%22M8 11c-0.552 0-1-0.448-1-1v-3c0-0.552 0.448-1 1-1s1 0.448 1 1v3c0 0.552-0.448 1-1 1z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-highlight .ui-icon-alert,
.ui-button .ui-state-highlight.ui-icon-alert {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777620%22 d=%22M8 1.45l6.705 13.363h-13.409l6.705-13.363zM8 0c-0.345 0-0.69 0.233-0.951 0.698l-6.829 13.611c-0.523 0.93-0.078 1.691 0.989 1.691h13.583c1.067 0 1.512-0.761 0.989-1.691h0l-6.829-13.611c-0.262-0.465-0.606-0.698-0.951-0.698v0z%22%3E%3C/path%3E%3Cpath fill=%22%23777620%22 d=%22M9 13c0 0.552-0.448 1-1 1s-1-0.448-1-1c0-0.552 0.448-1 1-1s1 0.448 1 1z%22%3E%3C/path%3E%3Cpath fill=%22%23777620%22 d=%22M8 11c-0.552 0-1-0.448-1-1v-3c0-0.552 0.448-1 1-1s1 0.448 1 1v3c0 0.552-0.448 1-1 1z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-error .ui-icon-alert,
.ui-state-error-text .ui-icon-alert {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23CC0000%22 d=%22M8 1.45l6.705 13.363h-13.409l6.705-13.363zM8 0c-0.345 0-0.69 0.233-0.951 0.698l-6.829 13.611c-0.523 0.93-0.078 1.691 0.989 1.691h13.583c1.067 0 1.512-0.761 0.989-1.691h0l-6.829-13.611c-0.262-0.465-0.606-0.698-0.951-0.698v0z%22%3E%3C/path%3E%3Cpath fill=%22%23CC0000%22 d=%22M9 13c0 0.552-0.448 1-1 1s-1-0.448-1-1c0-0.552 0.448-1 1-1s1 0.448 1 1z%22%3E%3C/path%3E%3Cpath fill=%22%23CC0000%22 d=%22M8 11c-0.552 0-1-0.448-1-1v-3c0-0.552 0.448-1 1-1s1 0.448 1 1v3c0 0.552-0.448 1-1 1z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-arrowrefresh-1-w,
.ui-widget-content .ui-icon-arrowrefresh-1-w,
.ui-widget-header .ui-icon-arrowrefresh-1-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M8 1c-2.209 0-4.209 0.896-5.657 2.343l-2.343-2.343v6h6l-2.243-2.243c1.086-1.086 2.586-1.757 4.243-1.757 3.314 0 6 2.686 6 6 0 1.792-0.786 3.401-2.032 4.5l1.323 1.5c1.661-1.466 2.709-3.611 2.709-6 0-4.418-3.582-8-8-8z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-arrowrefresh-1-w,
.ui-state-focus .ui-icon-arrowrefresh-1-w,
.ui-button:hover .ui-icon-arrowrefresh-1-w,
.ui-button:focus .ui-icon-arrowrefresh-1-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M8 1c-2.209 0-4.209 0.896-5.657 2.343l-2.343-2.343v6h6l-2.243-2.243c1.086-1.086 2.586-1.757 4.243-1.757 3.314 0 6 2.686 6 6 0 1.792-0.786 3.401-2.032 4.5l1.323 1.5c1.661-1.466 2.709-3.611 2.709-6 0-4.418-3.582-8-8-8z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-arrowrefresh-1-w,
.ui-button:active .ui-icon-arrowrefresh-1-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M8 1c-2.209 0-4.209 0.896-5.657 2.343l-2.343-2.343v6h6l-2.243-2.243c1.086-1.086 2.586-1.757 4.243-1.757 3.314 0 6 2.686 6 6 0 1.792-0.786 3.401-2.032 4.5l1.323 1.5c1.661-1.466 2.709-3.611 2.709-6 0-4.418-3.582-8-8-8z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-arrowrefresh-1-w {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M8 1c-2.209 0-4.209 0.896-5.657 2.343l-2.343-2.343v6h6l-2.243-2.243c1.086-1.086 2.586-1.757 4.243-1.757 3.314 0 6 2.686 6 6 0 1.792-0.786 3.401-2.032 4.5l1.323 1.5c1.661-1.466 2.709-3.611 2.709-6 0-4.418-3.582-8-8-8z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-arrowrefresh-1-e,
.ui-widget-content .ui-icon-arrowrefresh-1-e,
.ui-widget-header .ui-icon-arrowrefresh-1-e {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M0 9c0 2.389 1.048 4.534 2.709 6l1.323-1.5c-1.246-1.099-2.031-2.708-2.031-4.5 0-3.314 2.686-6 6-6 1.657 0 3.157 0.672 4.243 1.757l-2.243 2.243h6v-6l-2.343 2.343c-1.448-1.448-3.448-2.343-5.657-2.343-4.418 0-8 3.582-8 8z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-arrowrefresh-1-e,
.ui-state-focus .ui-icon-arrowrefresh-1-e,
.ui-button:hover .ui-icon-arrowrefresh-1-e,
.ui-button:focus .ui-icon-arrowrefresh-1-e {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M0 9c0 2.389 1.048 4.534 2.709 6l1.323-1.5c-1.246-1.099-2.031-2.708-2.031-4.5 0-3.314 2.686-6 6-6 1.657 0 3.157 0.672 4.243 1.757l-2.243 2.243h6v-6l-2.343 2.343c-1.448-1.448-3.448-2.343-5.657-2.343-4.418 0-8 3.582-8 8z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-arrowrefresh-1-e,
.ui-button:active .ui-icon-arrowrefresh-1-e {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M0 9c0 2.389 1.048 4.534 2.709 6l1.323-1.5c-1.246-1.099-2.031-2.708-2.031-4.5 0-3.314 2.686-6 6-6 1.657 0 3.157 0.672 4.243 1.757l-2.243 2.243h6v-6l-2.343 2.343c-1.448-1.448-3.448-2.343-5.657-2.343-4.418 0-8 3.582-8 8z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-arrowrefresh-1-e {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M0 9c0 2.389 1.048 4.534 2.709 6l1.323-1.5c-1.246-1.099-2.031-2.708-2.031-4.5 0-3.314 2.686-6 6-6 1.657 0 3.157 0.672 4.243 1.757l-2.243 2.243h6v-6l-2.343 2.343c-1.448-1.448-3.448-2.343-5.657-2.343-4.418 0-8 3.582-8 8z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-bookmark,
.ui-widget-content .ui-icon-bookmark,
.ui-widget-header .ui-icon-bookmark {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M3 0v16l5-5 5 5v-16z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-bookmark,
.ui-state-focus .ui-icon-bookmark,
.ui-button:hover .ui-icon-bookmark,
.ui-button:focus .ui-icon-bookmark {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M3 0v16l5-5 5 5v-16z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-bookmark,
.ui-button:active .ui-icon-bookmark {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M3 0v16l5-5 5 5v-16z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-bookmark {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M3 0v16l5-5 5 5v-16z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-clock,
.ui-widget-content .ui-icon-clock,
.ui-widget-header .ui-icon-clock {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M10.293 11.707l-3.293-3.293v-4.414h2v3.586l2.707 2.707zM8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14c-3.314 0-6-2.686-6-6s2.686-6 6-6c3.314 0 6 2.686 6 6s-2.686 6-6 6z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-clock,
.ui-state-focus .ui-icon-clock,
.ui-button:hover .ui-icon-clock,
.ui-button:focus .ui-icon-clock {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M10.293 11.707l-3.293-3.293v-4.414h2v3.586l2.707 2.707zM8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14c-3.314 0-6-2.686-6-6s2.686-6 6-6c3.314 0 6 2.686 6 6s-2.686 6-6 6z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-clock,
.ui-button:active .ui-icon-clock {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M10.293 11.707l-3.293-3.293v-4.414h2v3.586l2.707 2.707zM8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14c-3.314 0-6-2.686-6-6s2.686-6 6-6c3.314 0 6 2.686 6 6s-2.686 6-6 6z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-clock {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M10.293 11.707l-3.293-3.293v-4.414h2v3.586l2.707 2.707zM8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14c-3.314 0-6-2.686-6-6s2.686-6 6-6c3.314 0 6 2.686 6 6s-2.686 6-6 6z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-arrowthickstop-1-s,
.ui-widget-content .ui-icon-arrowthickstop-1-s,
.ui-widget-header .ui-icon-arrowthickstop-1-s {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M11.5 7l-4 4-4-4h2.5v-6h3v6zM7.5 11h-7.5v4h15v-4h-7.5zM14 13h-2v-1h2v1z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-arrowthickstop-1-s,
.ui-state-focus .ui-icon-arrowthickstop-1-s,
.ui-button:hover .ui-icon-arrowthickstop-1-s,
.ui-button:focus .ui-icon-arrowthickstop-1-s {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M11.5 7l-4 4-4-4h2.5v-6h3v6zM7.5 11h-7.5v4h15v-4h-7.5zM14 13h-2v-1h2v1z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-arrowthickstop-1-s,
.ui-button:active .ui-icon-arrowthickstop-1-s {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M11.5 7l-4 4-4-4h2.5v-6h3v6zM7.5 11h-7.5v4h15v-4h-7.5zM14 13h-2v-1h2v1z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-arrowthickstop-1-s {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M11.5 7l-4 4-4-4h2.5v-6h3v6zM7.5 11h-7.5v4h15v-4h-7.5zM14 13h-2v-1h2v1z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-arrowthickstop-1-n,
.ui-widget-content .ui-icon-arrowthickstop-1-n,
.ui-widget-header .ui-icon-arrowthickstop-1-n {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M7.5 11h-7.5v4h15v-4h-7.5zM14 13h-2v-1h2v1zM3.5 5l4-4 4 4h-2.5v5h-3v-5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-arrowthickstop-1-n,
.ui-state-focus .ui-icon-arrowthickstop-1-n,
.ui-button:hover .ui-icon-arrowthickstop-1-n,
.ui-button:focus .ui-icon-arrowthickstop-1-n {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M7.5 11h-7.5v4h15v-4h-7.5zM14 13h-2v-1h2v1zM3.5 5l4-4 4 4h-2.5v5h-3v-5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-arrowthickstop-1-n,
.ui-button:active .ui-icon-arrowthickstop-1-n {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M7.5 11h-7.5v4h15v-4h-7.5zM14 13h-2v-1h2v1zM3.5 5l4-4 4 4h-2.5v5h-3v-5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-arrowthickstop-1-n {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M7.5 11h-7.5v4h15v-4h-7.5zM14 13h-2v-1h2v1zM3.5 5l4-4 4 4h-2.5v5h-3v-5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-icon-tag,
.ui-widget-content .ui-icon-tag,
.ui-widget-header .ui-icon-tag {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23444444%22 d=%22M15.25 0h-6c-0.412 0-0.989 0.239-1.28 0.53l-7.439 7.439c-0.292 0.292-0.292 0.769 0 1.061l6.439 6.439c0.292 0.292 0.769 0.292 1.061 0l7.439-7.439c0.292-0.292 0.53-0.868 0.53-1.28v-6c0-0.412-0.338-0.75-0.75-0.75zM11.5 6c-0.828 0-1.5-0.672-1.5-1.5s0.672-1.5 1.5-1.5 1.5 0.672 1.5 1.5-0.672 1.5-1.5 1.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-hover .ui-icon-tag,
.ui-state-focus .ui-icon-tag,
.ui-button:hover .ui-icon-tag,
.ui-button:focus .ui-icon-tag {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23555555%22 d=%22M15.25 0h-6c-0.412 0-0.989 0.239-1.28 0.53l-7.439 7.439c-0.292 0.292-0.292 0.769 0 1.061l6.439 6.439c0.292 0.292 0.769 0.292 1.061 0l7.439-7.439c0.292-0.292 0.53-0.868 0.53-1.28v-6c0-0.412-0.338-0.75-0.75-0.75zM11.5 6c-0.828 0-1.5-0.672-1.5-1.5s0.672-1.5 1.5-1.5 1.5 0.672 1.5 1.5-0.672 1.5-1.5 1.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-state-active .ui-icon-tag,
.ui-button:active .ui-icon-tag {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23FFFFFF%22 d=%22M15.25 0h-6c-0.412 0-0.989 0.239-1.28 0.53l-7.439 7.439c-0.292 0.292-0.292 0.769 0 1.061l6.439 6.439c0.292 0.292 0.769 0.292 1.061 0l7.439-7.439c0.292-0.292 0.53-0.868 0.53-1.28v-6c0-0.412-0.338-0.75-0.75-0.75zM11.5 6c-0.828 0-1.5-0.672-1.5-1.5s0.672-1.5 1.5-1.5 1.5 0.672 1.5 1.5-0.672 1.5-1.5 1.5z%22%3E%3C/path%3E%3C/svg%3E"); }
.ui-button .ui-icon-tag {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22%23777777%22 d=%22M15.25 0h-6c-0.412 0-0.989 0.239-1.28 0.53l-7.439 7.439c-0.292 0.292-0.292 0.769 0 1.061l6.439 6.439c0.292 0.292 0.769 0.292 1.061 0l7.439-7.439c0.292-0.292 0.53-0.868 0.53-1.28v-6c0-0.412-0.338-0.75-0.75-0.75zM11.5 6c-0.828 0-1.5-0.672-1.5-1.5s0.672-1.5 1.5-1.5 1.5 0.672 1.5 1.5-0.672 1.5-1.5 1.5z%22%3E%3C/path%3E%3C/svg%3E"); }

/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 3px;
}

/* Overlays */
.ui-widget-overlay {
	background: #aaaaaa;
	opacity: .3;
	filter: Alpha(Opacity=30); /* support: IE8 */
}
.ui-widget-shadow {
	-webkit-box-shadow: 0px 0px 5px #666666;
	box-shadow: 0px 0px 5px #666666;
}
